body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1474px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:1080px;
}
#u2852 {
  position:absolute;
  left:3px;
  top:5px;
  width:1471px;
  height:1080px;
  color:#CEEACE;
}
#u2853 {
  position:absolute;
  left:2px;
  top:532px;
  width:1467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:89px;
  background:inherit;
  background-color:rgba(106, 128, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2854 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:89px;
}
#u2855 {
  position:absolute;
  left:2px;
  top:36px;
  width:1467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:991px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2856 {
  position:absolute;
  left:0px;
  top:88px;
  width:300px;
  height:991px;
}
#u2857 {
  position:absolute;
  left:2px;
  top:488px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2858 {
  position:absolute;
  left:54px;
  top:26px;
  width:193px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2859 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u2860 {
  position:absolute;
  left:300px;
  top:0px;
  width:177px;
  height:89px;
  font-size:26px;
  color:#FFFFFF;
}
#u2861 {
  position:absolute;
  left:2px;
  top:30px;
  width:173px;
  word-wrap:break-word;
}
#u2862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#BEEABE;
}
#u2862 {
  position:absolute;
  left:477px;
  top:0px;
  width:177px;
  height:89px;
  font-size:26px;
  color:#BEEABE;
}
#u2863 {
  position:absolute;
  left:2px;
  top:30px;
  width:173px;
  word-wrap:break-word;
}
#u2864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u2864 {
  position:absolute;
  left:654px;
  top:0px;
  width:177px;
  height:89px;
  font-size:26px;
  color:#FFFFFF;
}
#u2865 {
  position:absolute;
  left:2px;
  top:30px;
  width:173px;
  word-wrap:break-word;
}
#u2866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2866 {
  position:absolute;
  left:1113px;
  top:5px;
  width:300px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
}
#u2867 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2868 {
  position:absolute;
  left:1140px;
  top:40px;
  width:147px;
  height:43px;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2869 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u2870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2870 {
  position:absolute;
  left:1236px;
  top:40px;
  width:147px;
  height:43px;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u2871 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u2872 {
  position:absolute;
  left:0px;
  top:88px;
  width:300px;
  height:96px;
  font-size:26px;
}
#u2873 {
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  word-wrap:break-word;
}
#u2874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:26px;
}
#u2874 {
  position:absolute;
  left:0px;
  top:184px;
  width:300px;
  height:96px;
  font-size:26px;
}
#u2875 {
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  word-wrap:break-word;
}
#u2876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2876 {
  position:absolute;
  left:0px;
  top:290px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u2877 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u2878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2878 {
  position:absolute;
  left:0px;
  top:386px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u2879 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u2880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  font-size:24px;
}
#u2880 {
  position:absolute;
  left:0px;
  top:578px;
  width:300px;
  height:96px;
  font-size:24px;
}
#u2881 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u2882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2882 {
  position:absolute;
  left:0px;
  top:482px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u2883 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u2884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2884 {
  position:absolute;
  left:0px;
  top:684px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u2885 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u2886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2886 {
  position:absolute;
  left:0px;
  top:780px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u2888 {
  position:absolute;
  left:365px;
  top:101px;
  width:113px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:731px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2890 {
  position:absolute;
  left:365px;
  top:184px;
  width:724px;
  height:731px;
}
#u2891 {
  position:absolute;
  left:2px;
  top:358px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2892 {
  position:absolute;
  left:1174px;
  top:184px;
  width:197px;
  height:170px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:77px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2894 {
  position:absolute;
  left:1174px;
  top:386px;
  width:197px;
  height:177px;
}
#u2895 {
  position:absolute;
  left:2px;
  top:80px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:35px;
}
#u2896 {
  position:absolute;
  left:365px;
  top:184px;
  width:461px;
  height:35px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:10px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:38px;
}
#u2898 {
  position:absolute;
  left:365px;
  top:225px;
  width:724px;
  height:38px;
}
#u2899 {
  position:absolute;
  left:2px;
  top:11px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:2px;
}
#u2900 {
  position:absolute;
  left:365px;
  top:269px;
  width:724px;
  height:1px;
}
#u2901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2902 {
  position:absolute;
  left:380px;
  top:280px;
  width:693px;
  height:37px;
  text-align:left;
}
#u2903 {
  position:absolute;
  left:2px;
  top:10px;
  width:689px;
  word-wrap:break-word;
}
#u2904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2904 {
  position:absolute;
  left:381px;
  top:327px;
  width:324px;
  height:37px;
  text-align:left;
}
#u2905 {
  position:absolute;
  left:2px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u2906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2906 {
  position:absolute;
  left:749px;
  top:327px;
  width:324px;
  height:37px;
  text-align:left;
}
#u2907 {
  position:absolute;
  left:2px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u2908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:515px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2908 {
  position:absolute;
  left:381px;
  top:374px;
  width:692px;
  height:515px;
}
#u2909 {
  position:absolute;
  left:2px;
  top:250px;
  width:688px;
  word-wrap:break-word;
}
#u2910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u2910 {
  position:absolute;
  left:1201px;
  top:254px;
  width:39px;
  height:31px;
}
#u2911 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:29px;
}
#u2912 {
  position:absolute;
  left:1204px;
  top:203px;
  width:33px;
  height:29px;
}
#u2913 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2914 {
  position:absolute;
  left:1201px;
  top:304px;
  width:34px;
  height:37px;
}
#u2915 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2916 {
  position:absolute;
  left:1245px;
  top:207px;
  width:129px;
  height:25px;
}
#u2917 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2918 {
  position:absolute;
  left:1245px;
  top:257px;
  width:129px;
  height:25px;
}
#u2919 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2920 {
  position:absolute;
  left:1245px;
  top:310px;
  width:129px;
  height:25px;
}
#u2921 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2922 {
  position:absolute;
  left:1208px;
  top:394px;
  width:129px;
  height:25px;
}
#u2923 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2924 {
  position:absolute;
  left:1244px;
  top:429px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2925 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2926 {
  position:absolute;
  left:1244px;
  top:464px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2927 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2928 {
  position:absolute;
  left:1244px;
  top:499px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2929 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2930 {
  position:absolute;
  left:1244px;
  top:531px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2931 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2932 {
  position:absolute;
  left:1208px;
  top:435px;
  width:13px;
  height:13px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2934 {
  position:absolute;
  left:1208px;
  top:468px;
  width:13px;
  height:13px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2936 {
  position:absolute;
  left:1208px;
  top:502px;
  width:13px;
  height:13px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2938 {
  position:absolute;
  left:1208px;
  top:534px;
  width:13px;
  height:13px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2940 {
  position:absolute;
  left:1176px;
  top:598px;
  width:197px;
  height:143px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:64px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2942 {
  position:absolute;
  left:1197px;
  top:614px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2943 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u2944 {
  position:absolute;
  left:1333px;
  top:619px;
  width:25px;
  height:15px;
  color:#BEEABE;
}
#u2945 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2946 {
  position:absolute;
  left:1237px;
  top:649px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2947 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2948 {
  position:absolute;
  left:1201px;
  top:655px;
  width:13px;
  height:13px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2950 {
  position:absolute;
  left:1237px;
  top:696px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2951 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  position:absolute;
  left:1201px;
  top:702px;
  width:13px;
  height:13px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2954 {
  position:absolute;
  left:1176px;
  top:772px;
  width:197px;
  height:143px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:64px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2956 {
  position:absolute;
  left:1188px;
  top:780px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2957 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:85px;
}
#u2958 {
  position:absolute;
  left:1188px;
  top:811px;
  width:95px;
  height:85px;
}
#u2959 {
  position:absolute;
  left:2px;
  top:34px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2960 {
  position:absolute;
  left:1315px;
  top:816px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2961 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962 {
  position:absolute;
  left:1297px;
  top:822px;
  width:13px;
  height:13px;
}
#u2963 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2964 {
  position:absolute;
  left:1315px;
  top:864px;
  width:129px;
  height:25px;
  text-align:left;
}
#u2965 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  position:absolute;
  left:1297px;
  top:870px;
  width:13px;
  height:13px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2968 {
  position:absolute;
  left:686px;
  top:951px;
  width:82px;
  height:40px;
}
#u2969 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u2970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2970 {
  position:absolute;
  left:788px;
  top:951px;
  width:82px;
  height:40px;
}
#u2971 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u2972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2972 {
  position:absolute;
  left:889px;
  top:951px;
  width:82px;
  height:40px;
}
#u2973 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2974 {
  position:absolute;
  left:991px;
  top:951px;
  width:82px;
  height:40px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
