body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1471px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:1080px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CEEACE;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:1080px;
  color:#CEEACE;
}
#u1006 {
  position:absolute;
  left:2px;
  top:532px;
  width:1467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:89px;
  background:inherit;
  background-color:rgba(106, 128, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:89px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:36px;
  width:1467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:991px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  position:absolute;
  left:0px;
  top:88px;
  width:300px;
  height:991px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:488px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:54px;
  top:26px;
  width:193px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u1013 {
  position:absolute;
  left:300px;
  top:0px;
  width:177px;
  height:89px;
  font-size:26px;
  color:#FFFFFF;
}
#u1014 {
  position:absolute;
  left:2px;
  top:30px;
  width:173px;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#FFFFFF;
}
#u1015 {
  position:absolute;
  left:477px;
  top:0px;
  width:177px;
  height:89px;
  font-size:26px;
  color:#FFFFFF;
}
#u1016 {
  position:absolute;
  left:2px;
  top:30px;
  width:173px;
  word-wrap:break-word;
}
#u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#BEEABE;
}
#u1017 {
  position:absolute;
  left:654px;
  top:0px;
  width:177px;
  height:89px;
  font-size:26px;
  color:#BEEABE;
}
#u1018 {
  position:absolute;
  left:2px;
  top:30px;
  width:173px;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:1113px;
  top:5px;
  width:300px;
  height:43px;
  font-size:16px;
  color:#FFFFFF;
}
#u1020 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1021 {
  position:absolute;
  left:1140px;
  top:40px;
  width:147px;
  height:43px;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1022 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1023 {
  position:absolute;
  left:1236px;
  top:40px;
  width:147px;
  height:43px;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1024 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u1025 {
  position:absolute;
  left:365px;
  top:101px;
  width:113px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1027 {
  position:absolute;
  left:365px;
  top:184px;
  width:1053px;
  height:865px;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:26px;
  width:120px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:80px;
}
#u1030 {
  position:absolute;
  left:140px;
  top:0px;
  width:908px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:left;
  line-height:28px;
}
#u1031 {
  position:absolute;
  left:10px;
  top:32px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:80px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1034 {
  position:absolute;
  left:140px;
  top:80px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1035 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1036 {
  position:absolute;
  left:0px;
  top:140px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1038 {
  position:absolute;
  left:140px;
  top:140px;
  width:908px;
  height:60px;
  color:#0099FF;
  text-align:left;
}
#u1039 {
  position:absolute;
  left:2px;
  top:22px;
  width:904px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:200px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1042 {
  position:absolute;
  left:140px;
  top:200px;
  width:908px;
  height:60px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1043 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1044 {
  position:absolute;
  left:0px;
  top:260px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1046 {
  position:absolute;
  left:140px;
  top:260px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1047 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:320px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1050 {
  position:absolute;
  left:140px;
  top:320px;
  width:908px;
  height:60px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1051 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:380px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1054 {
  position:absolute;
  left:140px;
  top:380px;
  width:908px;
  height:60px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1055 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:440px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1058 {
  position:absolute;
  left:140px;
  top:440px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1059 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:500px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1061 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1062 {
  position:absolute;
  left:140px;
  top:500px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1063 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:560px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1066 {
  position:absolute;
  left:140px;
  top:560px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1067 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:620px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1070 {
  position:absolute;
  left:140px;
  top:620px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1071 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:680px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1073 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1074 {
  position:absolute;
  left:140px;
  top:680px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1075 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:740px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1078 {
  position:absolute;
  left:140px;
  top:740px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1079 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:800px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#656565;
  text-align:right;
  line-height:28px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:16px;
  width:120px;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:60px;
}
#u1082 {
  position:absolute;
  left:140px;
  top:800px;
  width:908px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
  line-height:28px;
}
#u1083 {
  position:absolute;
  left:10px;
  top:16px;
  width:896px;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u1084 {
  position:absolute;
  left:515px;
  top:196px;
  width:71px;
  height:56px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u1086 {
  position:absolute;
  left:0px;
  top:88px;
  width:300px;
  height:96px;
  font-size:26px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:26px;
}
#u1088 {
  position:absolute;
  left:0px;
  top:184px;
  width:300px;
  height:96px;
  font-size:26px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1090 {
  position:absolute;
  left:0px;
  top:290px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1092 {
  position:absolute;
  left:0px;
  top:386px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:-1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:-1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:-1px 5px 4px rgba(0, 0, 0, 0.349019607843137);
  font-size:24px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:578px;
  width:300px;
  height:96px;
  font-size:24px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:34px;
  width:296px;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:482px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1098 {
  position:absolute;
  left:0px;
  top:684px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1100 {
  position:absolute;
  left:0px;
  top:780px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:876px;
  width:300px;
  height:96px;
  font-size:20px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  word-wrap:break-word;
}
